*{
    margin: 0;
    padding: 0;
    /* border: 1px solid green; */
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: grey;
    padding: 20px 10px;
    max-width: 80%;
    margin: auto;
}

h1{
    font-size: 2.5em;
    padding: 30px 0 20px;
}

nav{
    background-color: beige;
    margin: 20px 0 30px;
}

nav li{
    display: inline-block;
    padding: 10px 25px;
}

h2{
    font-size: 2.2em;
    padding: 0 0 30px;
}

h3{
    font-size: 1.9em;
    padding: 0 0 30px;
}

.imagem-stomatopoda{
    max-width: 24%;
    padding-right: 1%;
    display: inline-block;
    vertical-align: top;
}

p{
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.dados-stomatopoda{
    max-width: 60%;
    display: inline-block;
    vertical-align: top;
    height: fit-content;
}

.table-div{
    width: 13%;
    display: inline-block;
    margin: 0 auto;
    padding-left: 1%;
}

table{
    width: 100%;
}

.imagem-olho{
    float: right;
    width: 25%;
    padding-left: 1%;
    height: auto;
}

section{
    clear: both;
}

#visao{
    padding: 25px 0;
    overflow: auto;
    height: auto;
    display: block;
}

#dados{
    padding: 25px 0;
}

.imagem-dieta{
    float: left;
    width: 25%;
    padding-right: 1%;
    height: auto;
}